In [1]:
# Load Data:

In [2]:
import pandas as pd
import mysql.connector

# Database connection parameters
db_config = {
    'user': 'root',
    'password': 'sunDay01@new',
    'host': 'localhost',
    'database': 'BankFinancialRiskDB'
}

# Create a connection to the database
conn = mysql.connector.connect(**db_config)

# Create a cursor object
cursor = conn.cursor()

# Define a function to execute a query and load data into a pandas DataFrame
def load_data(query):
    cursor.execute(query)
    columns = [desc[0] for desc in cursor.description]
    data = cursor.fetchall()
    df = pd.DataFrame(data, columns=columns)
    return df

# Queries to select data from each table
queries = {
    'FinancialMetrics': 'SELECT * FROM FinancialMetrics',
    'OperationalMetrics': 'SELECT * FROM OperationalMetrics',
    'MarketRiskMetrics': 'SELECT * FROM MarketRiskMetrics',
    'CreditRiskMetrics': 'SELECT * FROM CreditRiskMetrics',
    'EconomicIndicators': 'SELECT * FROM EconomicIndicators',
    'OtherRelevantFactors': 'SELECT * FROM OtherRelevantFactors'
}

# Load data into pandas DataFrames
dataframes = {}
for table_name, query in queries.items():
    dataframes[table_name] = load_data(query)

# Close the cursor and connection
cursor.close()
conn.close()

# Display the first few rows of each DataFrame
for table_name, df in dataframes.items():
    print(f"\n{table_name}:")
    print(df.head())

FinancialMetrics:
   BankID TotalAssets TotalLiabilities  NetIncome   ROA    ROE   NIM  \
0       1  1000000.00        500000.00   50000.00  5.00  10.00  3.50
1       2  2000000.00       1000000.00  100000.00  5.00  10.00  3.50
2       3  1500000.00        800000.00   70000.00  4.70   9.00  3.20
3       4  2500000.00       1200000.00  120000.00  5.50  11.00  3.80
4       5  1800000.00        900000.00   80000.00  4.40   8.50  3.10

  LoanToDepositRatio   NPL    CAR CostToIncomeRatio
0              80.00  2.00  15.00             60.00
1              85.00  1.50  16.00             55.00
2              78.00  2.50  14.00             62.00
3              82.00  1.80  17.00             57.00
4              79.00  2.30  14.50             61.00

OperationalMetrics:
   BankID     LCR    NSFR OperationalEfficiency
0       1  120.00  110.00                 95.00
1       2  125.00  112.00                 92.00
2       3  118.00  108.00                 94.00
3       4  123.00  111.00                 91.00
4       5  119.00  109.00                 93.00

MarketRiskMetrics:
   BankID        VaR InterestRateRisk CurrencyRisk CreditSpreadRisk
0       1  200000.00             2.50         1.50             3.00
1       2  250000.00             2.00         1.00             2.50
2       3  220000.00             2.80         1.20             2.70
3       4  240000.00             2.30         1.10             2.80
4       5  230000.00             2.70         1.40             3.10

CreditRiskMetrics:
   BankID CreditRating DefaultRates DebtToIncomeRatio CollateralValues
0       1           AA         1.20             35.00        500000.00
1       2          AAA         1.00             30.00        600000.00
2       3            A         1.50             40.00        450000.00
3       4          BBB         2.00             50.00        400000.00
4       5           BB         2.50             55.00        350000.00

EconomicIndicators:
   IndicatorID  BankID GDPGrowthRate UnemploymentRate InflationRate  \
0            1       1          3.00             5.00          2.00
1            2       2          2.50             4.50          1.80
2            3       3          3.20             5.20          2.10
3            4       4          2.80             4.80          1.90
4            5       5          3.10             5.10          2.00

  InterestRates
0          1.50
1          1.30
2          1.60
3          1.40
4          1.50

OtherRelevantFactors:
   BankID  RegulatoryCompliance MarketSentiment  ReputationRisk  \
0       1                     1        Positive               0
1       2                     1         Neutral               0
2       3                     1        Negative               1
3       4                     1        Positive               0
4       5                     1         Neutral               1

   OperationalRisk
0                1
1                0
2                1
3                0
4                1

In [3]:
dataframes['CreditRiskMetrics']

    BankID CreditRating DefaultRates DebtToIncomeRatio CollateralValues
0        1           AA         1.20             35.00        500000.00
1        2          AAA         1.00             30.00        600000.00
2        3            A         1.50             40.00        450000.00
3        4          BBB         2.00             50.00        400000.00
4        5           BB         2.50             55.00        350000.00
5        6            B         3.00             60.00        300000.00
6        7          CCC         3.50             65.00        250000.00
7        8           CC         4.00             70.00        200000.00
8        9            C         4.50             75.00        150000.00
9       10            D         5.00             80.00        100000.00
10      11           AA         1.20             35.00        500000.00
11      12          AAA         1.00             30.00        600000.00
12      13            A         1.50             40.00        450000.00
13      14          BBB         2.00             50.00        400000.00
14      15           BB         2.50             55.00        350000.00
15      16            B         3.00             60.00        300000.00
16      17          CCC         3.50             65.00        250000.00
17      18           CC         4.00             70.00        200000.00
18      19            C         4.50             75.00        150000.00
19      20            D         5.00             80.00        100000.00

In [4]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

def standard_scale(df, columns):
    """
    Standardizes the specified columns of the DataFrame to have mean 0 and variance 1.

    Parameters:
    df (pd.DataFrame): The DataFrame containing the data.
    columns (list): The list of column names to standardize.

    Returns:
    pd.DataFrame: The DataFrame with standardized columns.
    """
    scaler = StandardScaler()
    df[columns] = scaler.fit_transform(df[columns])
    return df

# Example usage:
# df = standard_scale(df, ['gdp_growth_rate', 'inflation_rate', 'unemployment_rate', 'cpi', 'stock_market_index'])

In [5]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

def label_encode(data, columns):
    """
    Perform label encoding on specified columns of a dataframe.

    Args:
    data (pd.DataFrame): The input dataframe.
    columns (list): List of column names to label encode.

    Returns:
    pd.DataFrame: The dataframe with label encoded columns.
    """
    label_encoders = {}
    for column in columns:
        le = LabelEncoder()
        data[column] = le.fit_transform(data[column])
        label_encoders[column] = le
    return data

# Example usage:
df_t = pd.DataFrame({'Color': ['Red', 'Blue', 'Green', 'Blue'], 'Size': ['S', 'M', 'L', 'M']})
a = label_encode(df_t, ['Color', 'Size'])
print(a)

   Color  Size
0      2     2
1      0     1
2      1     0
3      0     1

In [6]:
import pandas as pd

def one_hot_encode(data, columns):
    """
    Perform one-hot encoding on specified columns of a dataframe.

    Args:
    data (pd.DataFrame): The input dataframe.
    columns (list): List of column names to one-hot encode.

    Returns:
    pd.DataFrame: The dataframe with one-hot encoded columns.
    """
    data = pd.get_dummies(data, columns=columns, drop_first=True)
    return data

# Example usage:
# df = pd.DataFrame({'Color': ['Red', 'Blue', 'Green', 'Blue'], 'Size': ['S', 'M', 'L', 'M']})
# df = one_hot_encode(df, ['Color', 'Size'])
# print(df)

In [7]:
import pandas as pd

def drop_columns(data, columns):
    """
    Drop specified columns from a dataframe.

    Args:
    data (pd.DataFrame): The input dataframe.
    columns (list): List of column names to drop.

    Returns:
    pd.DataFrame: The dataframe with the specified columns dropped.
    """
    return data.drop(columns=columns)

# Example usage:
# df = pd.DataFrame({
#     'A': [1, 2, 3],
#     'B': [4, 5, 6],
#     'C': [7, 8, 9]
# })
# df = drop_columns(df, ['B', 'C'])
# print(df)

In [8]:
##### lable encoding on 'MarketSentiment' and drop 'id ' then merge

In [9]:
lable_encoding=['CreditRating','MarketSentiment']
drop_col=['BankID','IndicatorID']

In [10]:
lable_encoding[0]

'CreditRating'

In [11]:
dataframes['CreditRiskMetrics']

    BankID CreditRating DefaultRates DebtToIncomeRatio CollateralValues
0        1           AA         1.20             35.00        500000.00
1        2          AAA         1.00             30.00        600000.00
2        3            A         1.50             40.00        450000.00
3        4          BBB         2.00             50.00        400000.00
4        5           BB         2.50             55.00        350000.00
5        6            B         3.00             60.00        300000.00
6        7          CCC         3.50             65.00        250000.00
7        8           CC         4.00             70.00        200000.00
8        9            C         4.50             75.00        150000.00
9       10            D         5.00             80.00        100000.00
10      11           AA         1.20             35.00        500000.00
11      12          AAA         1.00             30.00        600000.00
12      13            A         1.50             40.00        450000.00
13      14          BBB         2.00             50.00        400000.00
14      15           BB         2.50             55.00        350000.00
15      16            B         3.00             60.00        300000.00
16      17          CCC         3.50             65.00        250000.00
17      18           CC         4.00             70.00        200000.00
18      19            C         4.50             75.00        150000.00
19      20            D         5.00             80.00        100000.00

In [12]:
dataframes['OtherRelevantFactors']

,BankID,RegulatoryCompliance,MarketSentiment,ReputationRisk,OperationalRisk
0,1,1,Positive,0,1
1,2,1,Neutral,0,0
2,3,1,Negative,1,1
3,4,1,Positive,0,0
4,5,1,Neutral,1,1
5,6,1,Negative,0,0
6,7,1,Positive,1,1
7,8,1,Neutral,0,0
8,9,1,Negative,1,1
9,10,1,Positive,0,0
10,11,1,Neutral,0,1
11,12,1,Negative,1,0
12,13,1,Positive,0,1
13,14,1,Neutral,1,0
14,15,1,Negative,0,1
15,16,1,Positive,1,0
16,17,1,Neutral,0,1
17,18,1,Negative,1,0
18,19,1,Positive,0,1
19,20,1,Neutral,1,0

In [13]:
dataframes['CreditRiskMetrics'] = label_encode(dataframes['CreditRiskMetrics'], [lable_encoding[0]])
dataframes['OtherRelevantFactors'] = label_encode(dataframes['OtherRelevantFactors'], [lable_encoding[1]])

In [14]:
dataframes['EconomicIndicators']

,IndicatorID,BankID,GDPGrowthRate,UnemploymentRate,InflationRate,InterestRates
0,1,1,3.00,5.00,2.00,1.50
1,2,2,2.50,4.50,1.80,1.30
2,3,3,3.20,5.20,2.10,1.60
3,4,4,2.80,4.80,1.90,1.40
4,5,5,3.10,5.10,2.00,1.50
5,6,6,2.70,4.70,1.70,1.30
6,7,7,3.00,5.00,2.00,1.50
7,8,8,2.60,4.60,1.80,1.30
8,9,9,3.20,5.20,2.10,1.60
9,10,10,2.90,4.90,1.90,1.40
10,11,11,3.00,5.00,2.00,1.50
11,12,12,2.50,4.50,1.80,1.30
12,13,13,3.20,5.20,2.10,1.60
13,14,14,2.80,4.80,1.90,1.40
14,15,15,3.10,5.10,2.00,1.50
15,16,16,2.70,4.70,1.70,1.30
16,17,17,3.00,5.00,2.00,1.50
17,18,18,2.60,4.60,1.80,1.30
18,19,19,3.20,5.20,2.10,1.60
19,20,20,2.90,4.90,1.90,1.40

In [15]:
#EconomicIndicators
dataframes['EconomicIndicators']=dataframes['EconomicIndicators'].drop(drop_col[1],axis=1)

In [16]:
#count=1
for key, df in dataframes.items():
    print(key)
    dataframes[key] = dataframes[key].drop(drop_col[0], axis=1)
    #count+=1

FinancialMetrics
OperationalMetrics
MarketRiskMetrics
CreditRiskMetrics
EconomicIndicators
OtherRelevantFactors

In [17]:
## FinancialMetrics

In [18]:
FinancialMetrics_numerical=dataframes['FinancialMetrics'].columns

In [19]:
#dataframes['FinancialMetrics']=standard_scale(dataframes['FinancialMetrics'], FinancialMetrics_numerical)

In [20]:
## OperationalMetrics

In [21]:
dataframes['OperationalMetrics']

       LCR    NSFR OperationalEfficiency
0   120.00  110.00                 95.00
1   125.00  112.00                 92.00
2   118.00  108.00                 94.00
3   123.00  111.00                 91.00
4   119.00  109.00                 93.00
5   121.00  110.00                 95.00
6   120.50  110.50                 94.50
7   122.00  111.00                 92.00
8   118.50  108.50                 93.50
9   121.00  110.00                 95.00
10  117.00  107.00                 94.00
11  123.00  111.00                 91.00
12  119.00  109.00                 93.00
13  121.00  110.00                 95.00
14  120.50  110.50                 94.50
15  122.00  111.00                 92.00
16  118.50  108.50                 93.50
17  121.00  110.00                 95.00
18  117.00  107.00                 94.00
19  123.00  111.00                 91.00

In [22]:
OperationalMetrics_numerical=dataframes['OperationalMetrics'].columns

In [23]:
#dataframes['OperationalMetrics']=standard_scale(dataframes['OperationalMetrics'], OperationalMetrics_numerical)

In [24]:
## MarketRiskMetrics

In [25]:
dataframes['MarketRiskMetrics']

          VaR InterestRateRisk CurrencyRisk CreditSpreadRisk
0   200000.00             2.50         1.50             3.00
1   250000.00             2.00         1.00             2.50
2   220000.00             2.80         1.20             2.70
3   240000.00             2.30         1.10             2.80
4   230000.00             2.70         1.40             3.10
5   210000.00             2.50         1.50             3.00
6   215000.00             2.60         1.30             2.90
7   225000.00             2.20         1.00             2.60
8   235000.00             2.70         1.10             3.20
9   245000.00             2.30         1.40             2.80
10  200000.00             2.50         1.50             3.00
11  250000.00             2.00         1.00             2.50
12  220000.00             2.80         1.20             2.70
13  240000.00             2.30         1.10             2.80
14  230000.00             2.70         1.40             3.10
15  210000.00             2.50         1.50             3.00
16  215000.00             2.60         1.30             2.90
17  225000.00             2.20         1.00             2.60
18  235000.00             2.70         1.10             3.20
19  245000.00             2.30         1.40             2.80

In [26]:
MarketRiskMetrics_numerical=dataframes['MarketRiskMetrics'].columns

In [27]:
#dataframes['MarketRiskMetrics']=standard_scale(dataframes['MarketRiskMetrics'], MarketRiskMetrics_numerical)

In [28]:
## CreditRiskMetrics

In [29]:
dataframes['CreditRiskMetrics']

    CreditRating DefaultRates DebtToIncomeRatio CollateralValues
0              1         1.20             35.00        500000.00
1              2         1.00             30.00        600000.00
2              0         1.50             40.00        450000.00
3              5         2.00             50.00        400000.00
4              4         2.50             55.00        350000.00
5              3         3.00             60.00        300000.00
6              8         3.50             65.00        250000.00
7              7         4.00             70.00        200000.00
8              6         4.50             75.00        150000.00
9              9         5.00             80.00        100000.00
10             1         1.20             35.00        500000.00
11             2         1.00             30.00        600000.00
12             0         1.50             40.00        450000.00
13             5         2.00             50.00        400000.00
14             4         2.50             55.00        350000.00
15             3         3.00             60.00        300000.00
16             8         3.50             65.00        250000.00
17             7         4.00             70.00        200000.00
18             6         4.50             75.00        150000.00
19             9         5.00             80.00        100000.00

In [30]:
CreditRiskMetrics_numerical=dataframes['CreditRiskMetrics'].columns.drop('CreditRating')

In [31]:
CreditRiskMetrics_numerical

Index(['DefaultRates', 'DebtToIncomeRatio', 'CollateralValues'], dtype='object')

In [32]:
#dataframes['CreditRiskMetrics']=standard_scale(dataframes['CreditRiskMetrics'], CreditRiskMetrics_numerical)

In [33]:
## EconomicIndicators

In [34]:
dataframes['EconomicIndicators']

   GDPGrowthRate UnemploymentRate InflationRate InterestRates
0           3.00             5.00          2.00          1.50
1           2.50             4.50          1.80          1.30
2           3.20             5.20          2.10          1.60
3           2.80             4.80          1.90          1.40
4           3.10             5.10          2.00          1.50
5           2.70             4.70          1.70          1.30
6           3.00             5.00          2.00          1.50
7           2.60             4.60          1.80          1.30
8           3.20             5.20          2.10          1.60
9           2.90             4.90          1.90          1.40
10          3.00             5.00          2.00          1.50
11          2.50             4.50          1.80          1.30
12          3.20             5.20          2.10          1.60
13          2.80             4.80          1.90          1.40
14          3.10             5.10          2.00          1.50
15          2.70             4.70          1.70          1.30
16          3.00             5.00          2.00          1.50
17          2.60             4.60          1.80          1.30
18          3.20             5.20          2.10          1.60
19          2.90             4.90          1.90          1.40

In [35]:
EconomicIndicators_numerical=dataframes['EconomicIndicators'].columns

In [36]:
#dataframes['EconomicIndicators']=standard_scale(dataframes['EconomicIndicators'], EconomicIndicators_numerical)

In [37]:
## OtherRelevantFactors

In [38]:
dataframes['OtherRelevantFactors']

    RegulatoryCompliance  MarketSentiment  ReputationRisk  OperationalRisk
0                      1                2               0                1
1                      1                1               0                0
2                      1                0               1                1
3                      1                2               0                0
4                      1                1               1                1
5                      1                0               0                0
6                      1                2               1                1
7                      1                1               0                0
8                      1                0               1                1
9                      1                2               0                0
10                     1                1               0                1
11                     1                0               1                0
12                     1                2               0                1
13                     1                1               1                0
14                     1                0               0                1
15                     1                2               1                0
16                     1                1               0                1
17                     1                0               1                0
18                     1                2               0                1
19                     1                1               1                0

In [39]:
OtherRelevantFactors_numerical=dataframes['OtherRelevantFactors'].columns.drop('MarketSentiment')

In [40]:
#dataframes['OtherRelevantFactors']=standard_scale(dataframes['OtherRelevantFactors'], OtherRelevantFactors_numerical)

In [41]:
### merging tables:

In [42]:
import pandas as pd

def merge_dataframes_columnwise(dataframes):
    """
    Merge a list of DataFrames with different column names into a single DataFrame column-wise.
    
    Args:
    dataframes (list of pd.DataFrame): The list of DataFrames to merge.
    
    Returns:
    pd.DataFrame: The merged DataFrame.
    """
    merged_df = pd.concat(dataframes, axis=1)
    return merged_df

# Example usage:
df1 = pd.DataFrame({
    'id1': [1, 2, 3],
    'value1': [10, 20, 30]
})

df2 = pd.DataFrame({
    'id2': [4, 5, 6],
    'value2': [40, 50, 60]
})

df3 = pd.DataFrame({
    'id3': [7, 8, 9],
    'value3': [70, 80, 90]
})

dataframes_test = [df1, df2, df3]
merged_df = merge_dataframes_columnwise(dataframes_test)

print(merged_df)

   id1  value1  id2  value2  id3  value3
0    1      10    4      40    7      70
1    2      20    5      50    8      80
2    3      30    6      60    9      90

In [43]:
dataframes_list = list(map(lambda key: dataframes[key], dataframes))

In [44]:
merged_df = merge_dataframes_columnwise(dataframes_list)

In [45]:
### target column

In [46]:
import numpy as np
target = {
    'date': pd.date_range(start='2024-01-01', periods=20, freq='MS'),

    'money_supply': [1800000000000.00 + i * 10000000000.00 for i in range(20)],
    'trade_balance': [500000000.00 + i * 10000000.00 for i in range(20)],

    'Risk': np.random.choice([True, False], size=20).astype(int)
}

In [47]:
target_df = pd.DataFrame(target)

In [48]:
merged_df.dtypes

TotalAssets              object
TotalLiabilities         object
NetIncome                object
ROA                      object
ROE                      object
NIM                      object
LoanToDepositRatio       object
NPL                      object
CAR                      object
CostToIncomeRatio        object
LCR                      object
NSFR                     object
OperationalEfficiency    object
VaR                      object
InterestRateRisk         object
CurrencyRisk             object
CreditSpreadRisk         object
CreditRating              int32
DefaultRates             object
DebtToIncomeRatio        object
CollateralValues         object
GDPGrowthRate            object
UnemploymentRate         object
InflationRate            object
InterestRates            object
RegulatoryCompliance      int64
MarketSentiment           int32
ReputationRisk            int64
OperationalRisk           int64
dtype: object

In [49]:
# neural network :

In [50]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical
from sklearn.metrics import classification_report, confusion_matrix

In [51]:
data=merged_df

In [52]:
# Ensure all boolean columns are converted to integers
boolean_columns = data.select_dtypes(include=['bool']).columns
data[boolean_columns] = data[boolean_columns].astype(int)

# Ensure all data is numeric
data = data.apply(pd.to_numeric, errors='coerce')

# Check for and handle missing values
data = data.fillna(0)

In [53]:
pre_nums_col=[FinancialMetrics_numerical,OperationalMetrics_numerical,MarketRiskMetrics_numerical,CreditRiskMetrics_numerical,EconomicIndicators_numerical,OtherRelevantFactors_numerical]

In [54]:
# Assuming `df` is your DataFrame with features and `target` is the Series with the target column 'Risky'
X = data
y = target_df['Risk']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
for nums_col in pre_nums_col: 
    X_train[nums_col] = scaler.fit_transform(X_train[nums_col])
    X_test[nums_col] = scaler.transform(X_test[nums_col])

# Convert target variable to categorical (if necessary)
# y_train = to_categorical(y_train)
# y_test = to_categorical(y_test)

In [55]:
# Initialize the model
model = Sequential()

# Add input layer and hidden layers
model.add(Dense(units=64, activation='relu', input_dim=X_train.shape[1]))
model.add(Dense(units=32, activation='relu'))
model.add(Dense(units=16, activation='relu'))

# Add output layer
model.add(Dense(units=1, activation='sigmoid'))  # 'sigmoid' for binary classification

# Print model summary
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                1920

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 16)                528

 dense_3 (Dense)             (None, 1)                 17

=================================================================
Total params: 4545 (17.75 KB)
Trainable params: 4545 (17.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [56]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history = model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
1/1 [==============================] - 1s 1s/step - loss: 0.7167 - accuracy: 0.5000 - val_loss: 0.6487 - val_accuracy: 0.7500
Epoch 2/50
1/1 [==============================] - 0s 32ms/step - loss: 0.6879 - accuracy: 0.5833 - val_loss: 0.6676 - val_accuracy: 0.5000
Epoch 3/50
1/1 [==============================] - 0s 34ms/step - loss: 0.6634 - accuracy: 0.5833 - val_loss: 0.6862 - val_accuracy: 0.2500
Epoch 4/50
1/1 [==============================] - 0s 38ms/step - loss: 0.6410 - accuracy: 0.6667 - val_loss: 0.7019 - val_accuracy: 0.2500
Epoch 5/50
1/1 [==============================] - 0s 33ms/step - loss: 0.6229 - accuracy: 0.8333 - val_loss: 0.7145 - val_accuracy: 0.2500
Epoch 6/50
1/1 [==============================] - 0s 32ms/step - loss: 0.6060 - accuracy: 0.8333 - val_loss: 0.7276 - val_accuracy: 0.2500
Epoch 7/50
1/1 [==============================] - 0s 35ms/step - loss: 0.5900 - accuracy: 0.8333 - val_loss: 0.7404 - val_accuracy: 0.2500
Epoch 8/50
1/1 [==============================] - 0s 33ms/step - loss: 0.5756 - accuracy: 0.9167 - val_loss: 0.7533 - val_accuracy: 0.2500
Epoch 9/50
1/1 [==============================] - 0s 33ms/step - loss: 0.5613 - accuracy: 0.9167 - val_loss: 0.7657 - val_accuracy: 0.2500
Epoch 10/50
1/1 [==============================] - 0s 33ms/step - loss: 0.5478 - accuracy: 0.9167 - val_loss: 0.7770 - val_accuracy: 0.2500
Epoch 11/50
1/1 [==============================] - 0s 34ms/step - loss: 0.5344 - accuracy: 0.9167 - val_loss: 0.7855 - val_accuracy: 0.2500
Epoch 12/50
1/1 [==============================] - 0s 35ms/step - loss: 0.5220 - accuracy: 0.9167 - val_loss: 0.7937 - val_accuracy: 0.2500
Epoch 13/50
1/1 [==============================] - 0s 34ms/step - loss: 0.5098 - accuracy: 0.9167 - val_loss: 0.8005 - val_accuracy: 0.2500
Epoch 14/50
1/1 [==============================] - 0s 34ms/step - loss: 0.4977 - accuracy: 0.9167 - val_loss: 0.8068 - val_accuracy: 0.2500
Epoch 15/50
1/1 [==============================] - 0s 38ms/step - loss: 0.4859 - accuracy: 0.9167 - val_loss: 0.8120 - val_accuracy: 0.2500
Epoch 16/50
1/1 [==============================] - 0s 34ms/step - loss: 0.4738 - accuracy: 0.9167 - val_loss: 0.8156 - val_accuracy: 0.2500
Epoch 17/50
1/1 [==============================] - 0s 34ms/step - loss: 0.4624 - accuracy: 0.9167 - val_loss: 0.8193 - val_accuracy: 0.2500
Epoch 18/50
1/1 [==============================] - 0s 33ms/step - loss: 0.4508 - accuracy: 0.9167 - val_loss: 0.8226 - val_accuracy: 0.2500
Epoch 19/50
1/1 [==============================] - 0s 35ms/step - loss: 0.4390 - accuracy: 0.9167 - val_loss: 0.8254 - val_accuracy: 0.2500
Epoch 20/50
1/1 [==============================] - 0s 33ms/step - loss: 0.4267 - accuracy: 1.0000 - val_loss: 0.8290 - val_accuracy: 0.2500
Epoch 21/50
1/1 [==============================] - 0s 33ms/step - loss: 0.4139 - accuracy: 1.0000 - val_loss: 0.8336 - val_accuracy: 0.2500
Epoch 22/50
1/1 [==============================] - 0s 35ms/step - loss: 0.4013 - accuracy: 1.0000 - val_loss: 0.8390 - val_accuracy: 0.2500
Epoch 23/50
1/1 [==============================] - 0s 38ms/step - loss: 0.3891 - accuracy: 1.0000 - val_loss: 0.8439 - val_accuracy: 0.2500
Epoch 24/50
1/1 [==============================] - 0s 40ms/step - loss: 0.3769 - accuracy: 1.0000 - val_loss: 0.8469 - val_accuracy: 0.2500
Epoch 25/50
1/1 [==============================] - 0s 37ms/step - loss: 0.3648 - accuracy: 1.0000 - val_loss: 0.8497 - val_accuracy: 0.2500
Epoch 26/50
1/1 [==============================] - 0s 35ms/step - loss: 0.3525 - accuracy: 1.0000 - val_loss: 0.8512 - val_accuracy: 0.2500
Epoch 27/50
1/1 [==============================] - 0s 36ms/step - loss: 0.3403 - accuracy: 1.0000 - val_loss: 0.8528 - val_accuracy: 0.2500
Epoch 28/50
1/1 [==============================] - 0s 36ms/step - loss: 0.3283 - accuracy: 1.0000 - val_loss: 0.8553 - val_accuracy: 0.2500
Epoch 29/50
1/1 [==============================] - 0s 36ms/step - loss: 0.3165 - accuracy: 1.0000 - val_loss: 0.8567 - val_accuracy: 0.2500
Epoch 30/50
1/1 [==============================] - 0s 61ms/step - loss: 0.3050 - accuracy: 1.0000 - val_loss: 0.8580 - val_accuracy: 0.2500
Epoch 31/50
1/1 [==============================] - 0s 39ms/step - loss: 0.2938 - accuracy: 1.0000 - val_loss: 0.8602 - val_accuracy: 0.2500
Epoch 32/50
1/1 [==============================] - 0s 38ms/step - loss: 0.2829 - accuracy: 1.0000 - val_loss: 0.8645 - val_accuracy: 0.2500
Epoch 33/50
1/1 [==============================] - 0s 42ms/step - loss: 0.2720 - accuracy: 1.0000 - val_loss: 0.8707 - val_accuracy: 0.2500
Epoch 34/50
1/1 [==============================] - 0s 44ms/step - loss: 0.2612 - accuracy: 1.0000 - val_loss: 0.8784 - val_accuracy: 0.2500
Epoch 35/50
1/1 [==============================] - 0s 42ms/step - loss: 0.2504 - accuracy: 1.0000 - val_loss: 0.8867 - val_accuracy: 0.2500
Epoch 36/50
1/1 [==============================] - 0s 39ms/step - loss: 0.2400 - accuracy: 1.0000 - val_loss: 0.8958 - val_accuracy: 0.5000
Epoch 37/50
1/1 [==============================] - 0s 42ms/step - loss: 0.2300 - accuracy: 1.0000 - val_loss: 0.9040 - val_accuracy: 0.5000
Epoch 38/50
1/1 [==============================] - 0s 44ms/step - loss: 0.2205 - accuracy: 1.0000 - val_loss: 0.9123 - val_accuracy: 0.5000
Epoch 39/50
1/1 [==============================] - 0s 44ms/step - loss: 0.2113 - accuracy: 1.0000 - val_loss: 0.9220 - val_accuracy: 0.5000
Epoch 40/50
1/1 [==============================] - 0s 44ms/step - loss: 0.2021 - accuracy: 1.0000 - val_loss: 0.9327 - val_accuracy: 0.5000
Epoch 41/50
1/1 [==============================] - 0s 45ms/step - loss: 0.1928 - accuracy: 1.0000 - val_loss: 0.9439 - val_accuracy: 0.5000
Epoch 42/50
1/1 [==============================] - 0s 45ms/step - loss: 0.1837 - accuracy: 1.0000 - val_loss: 0.9549 - val_accuracy: 0.5000
Epoch 43/50
1/1 [==============================] - 0s 46ms/step - loss: 0.1750 - accuracy: 1.0000 - val_loss: 0.9651 - val_accuracy: 0.5000
Epoch 44/50
1/1 [==============================] - 0s 46ms/step - loss: 0.1669 - accuracy: 1.0000 - val_loss: 0.9729 - val_accuracy: 0.5000
Epoch 45/50
1/1 [==============================] - 0s 46ms/step - loss: 0.1589 - accuracy: 1.0000 - val_loss: 0.9790 - val_accuracy: 0.5000
Epoch 46/50
1/1 [==============================] - 0s 53ms/step - loss: 0.1511 - accuracy: 1.0000 - val_loss: 0.9853 - val_accuracy: 0.5000
Epoch 47/50
1/1 [==============================] - 0s 61ms/step - loss: 0.1436 - accuracy: 1.0000 - val_loss: 0.9924 - val_accuracy: 0.5000
Epoch 48/50
1/1 [==============================] - 0s 94ms/step - loss: 0.1363 - accuracy: 1.0000 - val_loss: 1.0010 - val_accuracy: 0.5000
Epoch 49/50
1/1 [==============================] - 0s 88ms/step - loss: 0.1294 - accuracy: 1.0000 - val_loss: 1.0108 - val_accuracy: 0.5000
Epoch 50/50
1/1 [==============================] - 0s 64ms/step - loss: 0.1228 - accuracy: 1.0000 - val_loss: 1.0213 - val_accuracy: 0.5000

In [57]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history = model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
1/1 [==============================] - 1s 1s/step - loss: 0.1165 - accuracy: 1.0000 - val_loss: 1.0560 - val_accuracy: 0.5000
Epoch 2/50
1/1 [==============================] - 0s 38ms/step - loss: 0.1102 - accuracy: 1.0000 - val_loss: 1.0504 - val_accuracy: 0.5000
Epoch 3/50
1/1 [==============================] - 0s 37ms/step - loss: 0.1022 - accuracy: 1.0000 - val_loss: 1.0478 - val_accuracy: 0.5000
Epoch 4/50
1/1 [==============================] - 0s 36ms/step - loss: 0.0953 - accuracy: 1.0000 - val_loss: 1.0606 - val_accuracy: 0.5000
Epoch 5/50
1/1 [==============================] - 0s 39ms/step - loss: 0.0884 - accuracy: 1.0000 - val_loss: 1.0763 - val_accuracy: 0.5000
Epoch 6/50
1/1 [==============================] - 0s 39ms/step - loss: 0.0819 - accuracy: 1.0000 - val_loss: 1.0886 - val_accuracy: 0.5000
Epoch 7/50
1/1 [==============================] - 0s 41ms/step - loss: 0.0758 - accuracy: 1.0000 - val_loss: 1.0988 - val_accuracy: 0.5000
Epoch 8/50
1/1 [==============================] - 0s 40ms/step - loss: 0.0700 - accuracy: 1.0000 - val_loss: 1.1107 - val_accuracy: 0.5000
Epoch 9/50
1/1 [==============================] - 0s 39ms/step - loss: 0.0645 - accuracy: 1.0000 - val_loss: 1.1211 - val_accuracy: 0.5000
Epoch 10/50
1/1 [==============================] - 0s 43ms/step - loss: 0.0594 - accuracy: 1.0000 - val_loss: 1.1276 - val_accuracy: 0.5000
Epoch 11/50
1/1 [==============================] - 0s 44ms/step - loss: 0.0547 - accuracy: 1.0000 - val_loss: 1.1361 - val_accuracy: 0.5000
Epoch 12/50
1/1 [==============================] - 0s 43ms/step - loss: 0.0504 - accuracy: 1.0000 - val_loss: 1.1505 - val_accuracy: 0.5000
Epoch 13/50
1/1 [==============================] - 0s 42ms/step - loss: 0.0465 - accuracy: 1.0000 - val_loss: 1.1677 - val_accuracy: 0.5000
Epoch 14/50
1/1 [==============================] - 0s 43ms/step - loss: 0.0429 - accuracy: 1.0000 - val_loss: 1.1827 - val_accuracy: 0.5000
Epoch 15/50
1/1 [==============================] - 0s 41ms/step - loss: 0.0395 - accuracy: 1.0000 - val_loss: 1.1949 - val_accuracy: 0.5000
Epoch 16/50
1/1 [==============================] - 0s 42ms/step - loss: 0.0364 - accuracy: 1.0000 - val_loss: 1.2088 - val_accuracy: 0.5000
Epoch 17/50
1/1 [==============================] - 0s 43ms/step - loss: 0.0335 - accuracy: 1.0000 - val_loss: 1.2257 - val_accuracy: 0.5000
Epoch 18/50
1/1 [==============================] - 0s 44ms/step - loss: 0.0308 - accuracy: 1.0000 - val_loss: 1.2425 - val_accuracy: 0.5000
Epoch 19/50
1/1 [==============================] - 0s 43ms/step - loss: 0.0284 - accuracy: 1.0000 - val_loss: 1.2582 - val_accuracy: 0.5000
Epoch 20/50
1/1 [==============================] - 0s 45ms/step - loss: 0.0262 - accuracy: 1.0000 - val_loss: 1.2709 - val_accuracy: 0.5000
Epoch 21/50
1/1 [==============================] - 0s 44ms/step - loss: 0.0242 - accuracy: 1.0000 - val_loss: 1.2800 - val_accuracy: 0.5000
Epoch 22/50
1/1 [==============================] - 0s 44ms/step - loss: 0.0224 - accuracy: 1.0000 - val_loss: 1.2884 - val_accuracy: 0.5000
Epoch 23/50
1/1 [==============================] - 0s 43ms/step - loss: 0.0207 - accuracy: 1.0000 - val_loss: 1.2975 - val_accuracy: 0.5000
Epoch 24/50
1/1 [==============================] - 0s 44ms/step - loss: 0.0191 - accuracy: 1.0000 - val_loss: 1.3083 - val_accuracy: 0.5000
Epoch 25/50
1/1 [==============================] - 0s 45ms/step - loss: 0.0177 - accuracy: 1.0000 - val_loss: 1.3195 - val_accuracy: 0.5000
Epoch 26/50
1/1 [==============================] - 0s 45ms/step - loss: 0.0163 - accuracy: 1.0000 - val_loss: 1.3324 - val_accuracy: 0.5000
Epoch 27/50
1/1 [==============================] - 0s 44ms/step - loss: 0.0151 - accuracy: 1.0000 - val_loss: 1.3441 - val_accuracy: 0.5000
Epoch 28/50
1/1 [==============================] - 0s 45ms/step - loss: 0.0140 - accuracy: 1.0000 - val_loss: 1.3583 - val_accuracy: 0.5000
Epoch 29/50
1/1 [==============================] - 0s 46ms/step - loss: 0.0131 - accuracy: 1.0000 - val_loss: 1.3719 - val_accuracy: 0.5000
Epoch 30/50
1/1 [==============================] - 0s 42ms/step - loss: 0.0122 - accuracy: 1.0000 - val_loss: 1.3855 - val_accuracy: 0.5000
Epoch 31/50
1/1 [==============================] - 0s 42ms/step - loss: 0.0113 - accuracy: 1.0000 - val_loss: 1.3994 - val_accuracy: 0.5000
Epoch 32/50
1/1 [==============================] - 0s 46ms/step - loss: 0.0106 - accuracy: 1.0000 - val_loss: 1.4112 - val_accuracy: 0.5000
Epoch 33/50
1/1 [==============================] - 0s 45ms/step - loss: 0.0099 - accuracy: 1.0000 - val_loss: 1.4232 - val_accuracy: 0.5000
Epoch 34/50
1/1 [==============================] - 0s 42ms/step - loss: 0.0093 - accuracy: 1.0000 - val_loss: 1.4353 - val_accuracy: 0.5000
Epoch 35/50
1/1 [==============================] - 0s 44ms/step - loss: 0.0087 - accuracy: 1.0000 - val_loss: 1.4479 - val_accuracy: 0.5000
Epoch 36/50
1/1 [==============================] - 0s 44ms/step - loss: 0.0081 - accuracy: 1.0000 - val_loss: 1.4596 - val_accuracy: 0.5000
Epoch 37/50
1/1 [==============================] - 0s 42ms/step - loss: 0.0077 - accuracy: 1.0000 - val_loss: 1.4711 - val_accuracy: 0.5000
Epoch 38/50
1/1 [==============================] - 0s 43ms/step - loss: 0.0072 - accuracy: 1.0000 - val_loss: 1.4819 - val_accuracy: 0.5000
Epoch 39/50
1/1 [==============================] - 0s 45ms/step - loss: 0.0068 - accuracy: 1.0000 - val_loss: 1.4929 - val_accuracy: 0.5000
Epoch 40/50
1/1 [==============================] - 0s 44ms/step - loss: 0.0064 - accuracy: 1.0000 - val_loss: 1.5042 - val_accuracy: 0.5000
Epoch 41/50
1/1 [==============================] - 0s 71ms/step - loss: 0.0061 - accuracy: 1.0000 - val_loss: 1.5171 - val_accuracy: 0.5000
Epoch 42/50
1/1 [==============================] - 0s 48ms/step - loss: 0.0057 - accuracy: 1.0000 - val_loss: 1.5298 - val_accuracy: 0.5000
Epoch 43/50
1/1 [==============================] - 0s 49ms/step - loss: 0.0054 - accuracy: 1.0000 - val_loss: 1.5418 - val_accuracy: 0.5000
Epoch 44/50
1/1 [==============================] - 0s 48ms/step - loss: 0.0052 - accuracy: 1.0000 - val_loss: 1.5536 - val_accuracy: 0.5000
Epoch 45/50
1/1 [==============================] - 0s 47ms/step - loss: 0.0049 - accuracy: 1.0000 - val_loss: 1.5657 - val_accuracy: 0.5000
Epoch 46/50
1/1 [==============================] - 0s 46ms/step - loss: 0.0047 - accuracy: 1.0000 - val_loss: 1.5781 - val_accuracy: 0.5000
Epoch 47/50
1/1 [==============================] - 0s 44ms/step - loss: 0.0045 - accuracy: 1.0000 - val_loss: 1.5904 - val_accuracy: 0.5000
Epoch 48/50
1/1 [==============================] - 0s 47ms/step - loss: 0.0043 - accuracy: 1.0000 - val_loss: 1.6018 - val_accuracy: 0.5000
Epoch 49/50
1/1 [==============================] - 0s 43ms/step - loss: 0.0041 - accuracy: 1.0000 - val_loss: 1.6128 - val_accuracy: 0.5000
Epoch 50/50
1/1 [==============================] - 0s 44ms/step - loss: 0.0039 - accuracy: 1.0000 - val_loss: 1.6237 - val_accuracy: 0.5000

In [58]:
# Save the model
model.save('Bank_financial_risk_model.h5')

C:\Users\WINNER\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [59]:
import joblib

# Save the scaler
joblib.dump(scaler, 'Bank_financial_risk_model_scaler.pkl')

['Bank_financial_risk_model_scaler.pkl']